[submodule "openctp-ctp-667"]
	path = openctp-ctp-667
	url = https://github.com/Jedore/openctp-ctp-667.git
[submodule "openctp-ctp-6315"]
	path = openctp-ctp-6315
	url = https://github.com/Jedore/openctp-ctp-6315.gi
